@using MedicalPoint.Common;
@using MedicalPoint.Constants;
@using MedicalPoint.ViewModels.Medicines;
@model List<GetAllMediciensViewModel>
@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/UserDesign/css/all.min.css">
    <link rel="stylesheet" href="~/UserDesign/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/UserDesign/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="~/UserDesign/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/UserDesign/css/style.css">
    <script defer src="~/UserDesign/js/jquery-3.7.0.js"></script>
    <script defer src="~/UserDesign/js/jquery.dataTables.min.js"></script>
    <script defer src="~/UserDesign/js/dataTables.bootstrap5.min.js"></script>
    <script defer src="~/UserDesign/js/table.js"></script>
    <title>جرد الصيدلية</title>
    <link rel="icon" href="~/UserDesign/img/logo.png">

</head>

<body class="background-with-color">
    <nav class="navbar navbar-expand-lg navbar-light print ">
        <div class="container">
            <div>
                <a  asp-controller="Account" asp-action="Logout" class="my-button ml-2">تسجيل الخروج <i class="fa-solid fa-right-from-bracket"></i></a>
                <a onClick="window.location.reload()" href=""
                   class="my-button-green">
                    تحديث الصفحة  <i class="fa-solid fa-arrows-rotate"></i>
                </a>
                
                <a class="my-button-blue" href="" onclick="window.print()">طباعة الأدوية <i class="fa-solid fa-print"></i></a>
                <a class="my-button-green"asp-action="VisitsMedicines" asp-controller="Medicines">صرف الأدوية <i class="fa-solid fa-receipt"></i></a>

                <a class="my-button-blue"asp-action="MedicinesToday" asp-controller="Reports">تقرير الأدوية <i class="fa-solid fa-scroll"></i></a>
                @if (this.Context.IsUserHasRoles(new string[] { ConstantUserType.SUPER_ADMIN, ConstantUserType.Pharmacist}))
                {
                    <a  asp-action="Create" asp-controller="Medicines" class="my-button-green">إضافة دواء جديد <i class="fa-solid fa-add"></i></a>
                }
            </div>
            <img src="~/UserDesign/img/logo.png" alt="logo">
        </div>
    </nav>
    <div class="landing-three ">
        <div class="container fadeInUp-animation ">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center p-1">
                    <p id="nametwo">جرد الصيدلية <i class="fa-solid fa-filter"></i></p>
                    <p  class="only-print" id="nametwo">بتاريخ @DateTime.Now.ToShortDateString() </p>

                    <table id="example" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>مسلسل</th>
                                <th>إسم العلاج</th>
                                <th>حالة الكمية</th>
                                <th>الحد الادنى من الاكتفاء</th>
                                <th>المخزون</th>
                                <th class="print">إضافة كمية <i class="fa-solid fa-plus"></i></th>
                                <th class="print">خيارات <i class="fa-solid fa-gear"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                @foreach(var item in Model)
                                {
                                <tr>
                                    <td></td>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @{
                                            string colorName = "";
                                            if (item.Status == ConstantMedicineStatus.NOT_AVAILABLE)
                                            {
                                                colorName = "red";
                                            }
                                            else if(item.Status == ConstantMedicineStatus.NEAR_FINISH)
                                            {
                                                colorName = "darkorange";
                                            }
                                            else
                                            {
                                                colorName = "green";
                                            }
                                            <span style="color:@colorName">
                                               @item.Status
                                           </span> 

                                        }
                                    </td>
                                    <td>
                                       @item.MinimumQuantityThreshold
                                    </td>
                                    <td>@item.Quantity</td>

                                    <td class="print">
                                        
                                        <button   onclick="activeDiv({buttonId:'add-medicine-button-@item.Id',divId:'add-medicine-@item.Id'})" id="add-medicine-button-@item.Id" type="button" class="table-button-blue">إضافة كمية جديدة <i class="fa-solid fa-plus"></i></button>
                                    <form id="formAddQuantity-@item.Id" method="post" asp-action="AddQuantity" asp-controller="Medicines" >

                                            <div id="add-medicine-@item.Id" style="display:none;">

                                            <input hidden type="text" value="@item.Id" name="MedicineId" form="formAddQuantity-@item.Id" />

                                            <input name="Quantity" form="formAddQuantity-@item.Id" type="number" placeholder="الكمية">

                                            <button type="submit" form="formAddQuantity-@item.Id" class="table-button-red">  <i class="fa-solid fa-floppy-disk"></i> حفظ</button>

                                            <button type="button" onclick="activeButton({buttonId:'add-medicine-button-@item.Id',divId:'add-medicine-@item.Id'})" class="table-button-red">الغاء <i class="fa-solid fa-xmark"></i></button>
                                    </div>
                                            </form>
                                    </td>
                                    <td class="print">

<div>
                                            <a title="تفاصيل" style="cursor:pointer; font-size:22px; color:var(--green-color)"  asp-controller="Medicines" asp-action="Details"  asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a>
                                            @if (this.Context.IsUserHasRoles(new string[] { ConstantUserType.SUPER_ADMIN }))
                                            {
                                                <a title="حذف" style="cursor:pointer; font-size:22px; color:var(--red-color)"  asp-controller="Medicines" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                                                <a title="تعديل" style="cursor:pointer; font-size:22px; color:var(--blue-color)" asp-controller="Medicines" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i> </a>

                                            }

</div>
                                    </td>
                                    
                                </tr>
                                }
                             
                        </tbody>
                    </table>
               
                
                
                
                
                
                
                
                
                
                </div>

            </div>


           

        </div>
    </div>


    <button type="button" id="popoutButton" class="my-button" data-bs-toggle="modal"
            data-bs-target="#exampleModal" style="display: none;"></button>
    <div class="modal fade text-center" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">


                    <div class="row justify-content-center">
                        <div class="col-lg-12">

                            <div class="col-lg-12">
                                <i style="color: var(--red-color); font-size: 80px; margin-bottom:15px;"
                                   class="fa-solid fa-circle-exclamation fa-beat-fade"></i>
                            </div>
                            <div class="col-lg-12">
                                <h4 id="errorText">هناك خطأ ما</h4>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!--popout div-->
        <div class="text-center">
            <button type="button" id="popoutButton" class="my-button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" style="display: none;"></button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">


                            <div class="row justify-content-center">
                                <div class="col-lg-12">

                                    <div class="col-lg-12">
                                        <i style="color: var(--red-color); font-size: 80px; margin-bottom:15px;"
                                           class="fa-solid fa-circle-exclamation fa-beat-fade"></i>
                                    </div>
                                    <div class="col-lg-12">
                                        <h4 id="errorText">هناك خطأ ما</h4>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>

</body>
<footer>
    <!-- Copyright -->
    <div class="text-center p-1">

        <p id="footer-text">تم الانشاء بواسطة <span style="color: var(--red-color);">طلاب فرع النظم</span> الدفعة <span style="color: var(--red-color);">164</span> ضباط إحتياط ©</p>
    </div>

    <!-- Copyright -->
</footer>
<script src="~/UserDesign/js/all.min.js"></script>
<script src="~/UserDesign/js/bootstrap.bundle.min.js"></script>


<script>


    function activeButton({ buttonId, divId }) {
        document.getElementById(divId).style.display = "none";
        document.getElementById(buttonId).style.display = "";
    }
    function activeDiv({ buttonId, divId }) {
        document.getElementById(divId).style.display = "";
        document.getElementById(buttonId).style.display = "none";
    }
</script>
<!-- <script src="js/bootstrap.bundle.min.js.map"></script> -->
<script src="~/userdesign/js/popouterror.js"></script>
@if (ViewBag.ErrorMessage is string s)
{
    if (!string.IsNullOrEmpty(s))
    {
        <script>popout({ error: '@s' })</script>
    }
}
</html>