@using MedicalPoint.Common;
@using MedicalPoint.Constants;
@using MedicalPoint.ViewModels.Medicines;
@model List<GetAllMediciensViewModel>
@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/UserDesign/css/all.min.css">
    <link rel="stylesheet" href="~/UserDesign/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/UserDesign/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="~/UserDesign/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/UserDesign/css/style.css">
    <script defer src="~/UserDesign/js/jquery-3.7.0.js"></script>
    <script defer src="~/UserDesign/js/jquery.dataTables.min.js"></script>
    <script defer src="~/UserDesign/js/dataTables.bootstrap5.min.js"></script>
    <script defer src="~/UserDesign/js/table.js"></script>
    <title>جرد الصيدلية</title>
    <link rel="icon" href="~/UserDesign/img/logo.png">

</head>

<body class="background-with-color">
    <nav class="navbar navbar-expand-lg navbar-light print ">
        <div class="container">
            <div>
                <a  asp-controller="Account" asp-action="Logout" class="my-button ml-2">تسجيل الخروج <i class="fa-solid fa-right-from-bracket"></i></a>
                <a  asp-action="Index" asp-controller="Medicines" class="my-button-blue">العودة للرئيسية <i class="fa-solid fa-house"></i></a>
                <a class="my-button-blue" onclick="window.print()">طباعة الأدوية <i class="fa-solid fa-print"></i></a>
                <a class="my-button-blue" asp-action="VisitsMedicines" asp-controller="Medicines">صرف الأدوية <i class="fa-solid fa-print"></i></a>
                @if(this.Context.IsUserHasRoles(new string[]{ConstantUserType.SUPER_ADMIN}))
                {
                    <a  asp-action="Create" asp-controller="Medicines" class="my-button-blue">إضافة دواء جديد <i class="fa-solid fa-add"></i></a>
                }
            </div>
            <img src="~/UserDesign/img/logo.png" alt="logo">
        </div>
    </nav>
    <div class="landing-three ">
        <div class="container fadeInUp-animation ">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center p-1">
                    <p id="nametwo">جرد الصيدلية <i class="fa-solid fa-filter"></i></p>

                    <table id="example" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>مسلسل</th>
                                <th>إسم العلاج</th>
                                <th>الحد الادنى من الاكتفاء</th>
                                <th>المخزون</th>
                                <th class="print">إضافة كمية <i class="fa-solid fa-plus"></i></th>
                                <th class="print">خيارات <i class="fa-solid fa-gear"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                @foreach(var item in Model)
                                {
                                <tr>
                                    <td></td>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                       @item.MinimumQuantityThreshold
                                    </td>
                                    <td>@item.Quantity</td>

                                    <td class="print">
                                        
                                        <button   onclick="activeDiv({buttonId:'add-medicine-button-@item.Id',divId:'add-medicine-@item.Id'})" id="add-medicine-button-@item.Id" type="button" class="table-button-blue">إضافة كمية جديدة <i class="fa-solid fa-plus"></i></button>
                                    <form id="formAddQuantity-@item.Id" method="post" asp-action="AddQuantity" asp-controller="Medicines" >

                                            <div id="add-medicine-@item.Id" style="display:none;">

                                            <input hidden type="text" value="@item.Id" name="MedicineId" form="formAddQuantity-@item.Id" />

                                            <input name="Quantity" form="formAddQuantity-@item.Id" type="number" placeholder="الكمية">

                                            <button type="submit" form="formAddQuantity-@item.Id" class="table-button-red">  <i class="fa-solid fa-floppy-disk"></i> حفظ</button>

                                            <button type="button" onclick="activeButton({buttonId:'add-medicine-button-@item.Id',divId:'add-medicine-@item.Id'})" class="table-button-red">الغاء <i class="fa-solid fa-xmark"></i></button>
                                    </div>
                                            </form>
                                    </td>
                                    <td class="print">

<div>
                                            <a title="تفاصيل" style="cursor:pointer; font-size:22px; color:var(--green-color)"  asp-controller="Medicines" asp-action="Details"  asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a>
                                            <a title="حذف" style="cursor:pointer; font-size:22px; color:var(--red-color)"  asp-controller="Medicines" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                                            <a title="تعديل" style="cursor:pointer; font-size:22px; color:var(--blue-color)" asp-controller="Medicines" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i> </a>

</div>
                                    </td>
                                    
                                </tr>
                                }
                             
                        </tbody>
                    </table>
               
                
                
                
                
                
                
                
                
                
                </div>

            </div>


           

        </div>
    </div>

</body>

<script src="~/UserDesign/js/all.min.js"></script>
<script src="~/UserDesign/js/bootstrap.bundle.min.js"></script>


<script>


    function activeButton({ buttonId, divId }) {
        document.getElementById(divId).style.display = "none";
        document.getElementById(buttonId).style.display = "";
    }
    function activeDiv({ buttonId, divId }) {
        document.getElementById(divId).style.display = "";
        document.getElementById(buttonId).style.display = "none";
    }
</script>
<!-- <script src="js/bootstrap.bundle.min.js.map"></script> -->

</html>