@using MedicalPoint.Common;
@using MedicalPoint.ViewModels.Visits;
@model PaginatedList<VisitsViewModel>
@{
    if (ViewBag.Date == null)
    {
        ViewBag.Date = DateTime.Today;
    }
    Layout = null;
}
<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/UserDesign/css/all.min.css">
    <link rel="stylesheet" href="~/UserDesign/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/UserDesign/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="~/UserDesign/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/UserDesign/css/style.css">
    <script defer src="~/UserDesign/js/jquery-3.7.0.js"></script>
    <script defer src="~/UserDesign/js/jquery.dataTables.min.js"></script>
    <script defer src="~/UserDesign/js/dataTables.bootstrap5.min.js"></script>
    <script defer src="~/UserDesign/js/table.js"></script>
    <title>صرف الادوية</title>
    <link rel="icon" href="~/UserDesign/img/logo.png">
</head>

<body class="background-with-color">
 
    <nav class="navbar navbar-expand-lg navbar-light  d-none d-lg-block sticky-top" id="bg">
        <div class="container">
            <div> <a   asp-controller="Account" asp-action="Logout" class="my-button">تسجيل الخروج <i class="fa-solid fa-right-from-bracket"></i></a> 
                <button class="my-button-blue" onclick="window.print()">طباعة البيانات <i class="fa-solid fa-print"></i></button>
                <a asp-action="Index" class="my-button-blue">العودة للرئيسية <i class="fa-solid fa-house"></i></a>

                
            </div>
            <img src="~/UserDesign/img/logo.png" alt="logo">
        </div>
    </nav>
    <div class="landing-three ">

        <div class="container fadeInUp-animation ">
            <div class="row  justify-content-center">
                <div class="col-lg-12 text-center">
                    <p id="nametwo">صرف الادوية <i class="fa-solid fa-prescription-bottle-medical"></i></p id="name">
                          <div class="row justify-content-center ">
                          <form id="formFilterVisitMedicines" class="print" asp-action="VisitsMedicines" asp-controller="Medicines" method="get" style="display:none"></form>
                    <div class="col-lg-12 text-center print">
                        <div class="row justify-content-center mb-2 ">
                            <div class="col-lg-2 text-center">
                                <input style="width:90%" class="my-table-input print"value="@ViewBag.SearchValue" id="input-search"  name="searchValue" placeholder="ابحث هنا.." form="formFilterVisitMedicines" >
                            </div>
                            
                            <div  class="col-lg-2 text-center">
                                <label id="label-date" for="input-date">اختر التاريخ</label>
                            </div>
                            <div  class="col-lg-2 text-center">
                                <input style="width:90%" class="my-table-input" id="input-date"  name="date"  type="date"  value="@ViewBag.Date" form="formFilterVisitMedicines" >
                            </div>
                            
                            <div class="col-lg-2 text-center ">
                                <select class="my-table-select "  id="select-given-medicines" asp-items="@ViewBag.GivenMedicinesTypes" name="givenMedicineType" form="formFilterVisitMedicines">
                                    
                                </select>
                            </div>
                            <div class="col-lg-2 text-center">
                                <button class="table-button-blue"  value="مسح البحث" onClick="ResetFilters(['select-given-medicines','input-date','input-search'])">مسح البحث</button>
                                <input class="table-button-red" type="submit" form="formFilterVisitMedicines" value="تنفيذ"/>
                            
                            </div>
                        </div>
                    </div>
                  </div>
                    <table  class="table table-striped" id="my-table" style="width:100%">
                        <thead>
                            <tr>
                                <th>مسلسل</th>
                                <th>اسم المريض</th>
                                <th>الرقم العام</th>
                                <th>رقم السرية</th>
                                <th>اسم الطبيب</th>
                                <th>رقم الكشف</th>
                                <th>نوع الكشف</th>
                                <th>التاريخ</th>
                                <th>حالة الصرف</th>
                                <th class="print">تفاصيل الأدوية</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if(Model.Count ==0)
                            {
                                <th colspan="10"> <p style="color:var(--red-color)"> لا يوجد بيانات</p> </th>
                            }
                            @foreach(var visit in Model)
                            {
                                 <tr>
                                    <td></td>
                                    <td>@visit.PatientName</td>
                                    <td>@visit.PatientGeneralNumber</td>
                                    <td>@visit.PatientSaryaNumber</td>
                                    <td>@visit.DoctorName</td>
                                    <td>@visit.VisitNumber</td>
                                    <td>@visit.Type</td>
                                    <td>@visit.VisitTime</td>
                                    @if(!visit.IsMedicinesGiven)
                                    {
                                        <td><span  style="color:var(--red-color)"> لم يتم الصرف</span> </td>
                                    }
                                    else
                                    {
                                        <td > <span style="color:var(--green-color)">تم الصرف </span> </td>
                                        
                                    }
                                    <td class="print"><a asp-action="GiveMedicines" asp-route-id="@visit.Id" asp-controller="Medicines" id="link">روشتة الادوية  <i class="fa-solid fa-prescription-bottle-medical"></i></a></td>
                              
                                </tr>
                            }
                           
                         
                        </tbody>
          
                      
                    </table>
                     <!-- pagenation -->
                    <div class="row  print">
                     <form style="display:none" id="formVisitsMedicinesPagination" method="get" asp-action="VisitsMedicines" asp-controller="Medicines"></form>
                     <input form="formVisitsMedicinesPagination" value="@ViewBag.SearchValue" style="display:none" name="searchValue"  />
                     <input form="formVisitsMedicinesPagination" value="@ViewBag.Date" style="display:none" name="date"  />

                        <div class="col-lg-12 print">
                            <div class="row">
                               <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-1">
                                        <input type="number" class="my-table-input" form="formVisitsMedicinesPagination" name="pageNumber" min="1" value="@Model.PageNumber" max="@Model.TotalPages">
                                    </div>
                                    <div class="col-lg-1">
                                        <h6 style="margin: 0;
                                       margin-top: 0.5rem !important;">مـــــن</h6>
                                    </div>
                                    <div class="col-lg-1">
                                        <input  value="@Model.TotalPages" class="my-table-input" readonly style="background-color: rgb(209, 209, 209);"> 
                                    </div>
                                     <div class="col-lg-1">
                                        <h6 style="    margin: 0;
                                       margin-top: 0.5rem !important;">عدد العناصر</h6>
                                    </div>
                                    <div class="col-lg-2">
                                       <select name="pageSize" asp-items="@ViewBag.PageSizeList"  form="formVisitsMedicinesPagination" class="my-table-select"> 
                                       </select>
                                    </div>
                                    <div class="col-lg-1">
                                     <input type="submit" form="formVisitsMedicinesPagination" class="table-button-blue" value="إذهب"/>
                                    </div>
                                </div>
                               </div>
                                <div class="col-lg-4">
                                <div class="row"style="justify-content: left;">
                                    @if(Model.HasPrevious)
                                        {
                                            var pageNumber = Model.PageNumber - 1;
                                            <div class="col-lg-2">
                                            <a  class="table-button-red" asp-action="VisitsMedicines" asp-controller="Medicines"
                                            asp-route-pageNumber="@pageNumber"
                                            asp-route-pageSize = "@Model.PageSize"
                                            asp-route-searchValue = "@ViewBag.SearchValue"
                                            asp-route-givenMedicineType = "@ViewBag.GivenMedicineType"
                                            asp-route-date = "@ViewBag.Date"
                                            style="width: 90%;">السابق</a>
                                         </div>
                                        }
                                        else
                                        {
                                            <div class="col-lg-2">
                                    <a  class="table-button-red"
                                        id="disablelink"
                                    style="width: 90%;">السابق</a>
                                    </div>
                                                
                                                
                                        }
                                        @if(Model.HasNext)
                                        {
                                            var pageNumber = Model.PageNumber + 1;
                                                
                                        <div class="col-lg-2">
                                    <a class="table-button-blue" asp-action="VisitsMedicines" asp-controller="Medicines" 
                                    asp-route-pageNumber="@pageNumber"
                                    asp-route-pageSize = "@Model.PageSize"
                                    asp-route-searchValue = "@ViewBag.SearchValue"
                                    asp-route-givenMedicineType = "@ViewBag.GivenMedicineType"
                                    asp-route-date = "@ViewBag.Date"
                                    style="width: 90%;">التالي</a>
                                    </div>
                                        }
                                        else
                                        {
                                            <div class="col-lg-2">
                                    <a   class="table-button-blue"
                                        id="disablelink"
                                    style="width: 90%;">التالي</a>
                                    </div>
                                                
                                                
                                        }
                                </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- pagenation -->

                </div>
            </div>


        </div>
    </div>
    </div>


      <button type="button" id="popoutButton" class="my-button" data-bs-toggle="modal"
            data-bs-target="#exampleModal" style="display: none;"></button>
    <div class="modal fade text-center" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">


                    <div class="row justify-content-center">
                        <div class="col-lg-12">

                            <div class="col-lg-12">
                                <i style="color: var(--red-color); font-size: 80px; margin-bottom:15px;"
                                   class="fa-solid fa-circle-exclamation fa-beat-fade"></i>
                            </div>
                            <div class="col-lg-12">
                                <h4 id="errorText">هناك خطأ ما</h4>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    <!--popout div-->
    <div class="text-center">
        <button type="button" id="popoutButton" class="my-button" data-bs-toggle="modal"
                data-bs-target="#exampleModal" style="display: none;"></button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">


                        <div class="row justify-content-center">
                            <div class="col-lg-12">

                                <div class="col-lg-12">
                                    <i style="color: var(--red-color); font-size: 80px; margin-bottom:15px;"
                                       class="fa-solid fa-circle-exclamation fa-beat-fade"></i>
                                </div>
                                <div class="col-lg-12">
                                    <h4 id="errorText">هناك خطأ ما</h4>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>
    </div>


</body>
  <footer >
        <!-- Copyright -->
        <div class="text-center p-1" >
            
          <p id="footer-text">تم الانشاء بواسطة <span style="color: var(--red-color);">طلاب فرع النظم</span> الدفعة <span style="color: var(--red-color);">164</span> ضباط إحتياط ©</p>
        </div>
        
        <!-- Copyright -->
      </footer>
<script src="~/UserDesign/js/all.min.js"></script>
<script src="~/UserDesign/js/bootstrap.bundle.min.js"></script>
<script src="~/userdesign/js/popouterror.js"></script>
@if (ViewBag.ErrorMessage is string s)
{
   if(!string.IsNullOrEmpty(s))
    {
    <script>popout({ error: '@s' })</script>
    }
}
</html>