@using MedicalPoint.Constants;
@using MedicalPoint.ViewModels.Medicines;
@using MedicalPoint.ViewModels.Visits;
@model VisitViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/userDesign/css/all.min.css">
    <link rel="stylesheet" href="~/userDesign/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/userDesign/css/style.css">
    <title>بيانات الكشف</title>
    <link rel="icon" href="~/userDesign/img/logo.png">

</head>

<body class="background-with-color">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <div>
                <a asp-action="Logout" asp-controller="Account" class="my-button ml-2">تسجيل الخروج <i class="fa-solid fa-right-from-bracket"></i></a>
                <a asp-action="Index" asp-controller="Visits" class="my-button-blue">العودة للرئيسية <i class="fa-solid fa-house"></i></a>
            </div>
            <img src="~/userDesign/img/logo.png" alt="logo">
        </div>
    </nav>
    <div class="landing-three ">
        <div class="container fadeInUp-animation ">
           
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center p-1">
                        <p id="nametwo">بيانات كشف المريض <i class="fa-solid fa-user"></i></p>

                        <table class="table  table-striped">
                            <tbody>
                                <tr>
                                    <th>الدرجة / الرتبة</th>
                                    <td>@Model.Patient?.Degree</td>
                                </tr>
                                <tr>
                                    <th>اسم المريض</th>
                                    <td>@Model.Patient?.Name</td>
                                </tr>
                                <tr>
                                    <th>العيادة</th>
                                    <td>@Model.Clinic?.Name</td>
                                </tr>
                                <tr>
                                    <th>رقم الكشف</th>
                                    <td>@Model.VisitNumber</td>
                                </tr>
                                <tr>
                                    <th>نوع الكشف</th>
                                    <td>@Model.Type</td>
                                </tr>
                                <tr>
                                    <th>اسم الطبيب</th>
                                    <td>@Model.Doctor?.FullName</td>
                                </tr>
                                <tr>
                                    <th>حالة الكشف</th>
                                    <td>@Model.Status</td>
                                </tr>

                                <tr>
                                    <th>تاريخ الكشف</th>
                                    <td>@Model.VisitTime</td>
                                </tr>
                            </tbody>
                        </table>
                     



                    </div>
                <div class="col-lg-6 text-center  p-1">
                    <p id="nametwo">مرفقات المريض <i class="fa-solid fa-image"></i></p>

                    <div class="beds-container">
                        <div class="beds p-0" style="    grid-gap: 5px !important;">
                            @foreach (var image in Model.Images)
                            {

                                <form id="formDeleteImage-@image.Id" method="post" asp-action="DeleteVisitImage" asp-controller="Visits" asp-route-id="@image.Id">
                                    <div class="image-container">
                                        <div class="overlay-image">
                                            <input type="number" form="formDeleteImage-@image.Id" style="display:none" name="visitId" value="@Model.Id" />
                                            <button type="submit" form="formDeleteImage-@image.Id" class="delete-image-button"><i class="fa-solid fa-trash "></i></button>
                                        </div>
                                        <img id="visit-image-@image.Id" onclick="window.opens('data:@image.ContentType;base64,@Convert.ToBase64String(@image.Content)','_blank')"
                                             src="data:@image.ContentType;base64,@Convert.ToBase64String(@image.Content)"
                                             class="w-100 shadow-1-strong rounded visit-image-style " alt="صور تحاليل واشعة" />
                                    </div>

                                </form>

                            }
                            <div>
                                <div style="background-color: #c9c6c6; border-radius: 10px; padding: 10px;">
                                    <p id="nametwo"> إضافة صورة <i class="fa-solid fa-image"></i></p>

                                    <form enctype="multipart/form-data" id="formUploadVisitImage" method="post" asp-action="UploadVisitImage" asp-controller="Visits" asp-route-id=@Model.Id>

                                        <input style="width:35%;" type="file" name="image" form="formUploadVisitImage">

                                        <input value="@Model.Id" type="number" style="display:none; !important" name="id" hidden form="formUploadVisitImage" />
                                    </form>
                                    <input type="submit" value="رفع الصورة" asp-action="UploadVisitImage" asp-controller="Visits" class="table-button-blue mt-4" form="formUploadVisitImage" asp-route-id=@Model.Id />
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="mt-5">
                     
                    </div>
                </div>


                </div>

           

            
         
      
                <div class="row justify-content-center mt-4" style="display:@this.Context.User.Claims.Any(x=> x.Value == ConstantUserType.SUPER_ADMIN || x.Value == ConstantUserType.Doctor )? block: none">
                    <div class="col-lg-12 text-center p-1">

                        <form id="formWriteDiagnosis" method="post" asp-action="WriteDiagnosis" asp-controller="Visits"></form>
                        <p id="nametwo">كتابة التشخيص <i class="fa-solid fa-user"></i></p>

                        <input type="text" hidden value="@Model.Id" name="VisitId" form="formWriteDiagnosis" />

                        <input value="@Model.Diagnosis" form="formWriteDiagnosis" name="Diagnosis" class="form-control mb-2"
                               placeholder="كتابة تشخيص المريض" style="font-weight: bold; height:4rem" />

                        <input type="submit" class="my-button-green mt-2 mb-4" form="formWriteDiagnosis" value="حفظ التشخيص" />
                        <!-- end of diagnosis-->
                    </div>

                    <div class="col-lg-12 text-center p-1 mt-2">
                        <p id="nametwo">كتابة العلاج <i class="fa-solid fa-prescription-bottle-medical "></i></p>

                        <table class="table  table-striped">
                            <thead>
                                <tr>
                                    <th>مسلسل</th>
                                    <th>إسم العلاج</th>
                                    <th>المخزون</th>
                                    <th>الكمية</th>
                                    <th>خيارات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var visitMedicine in Model.Medicines)
                                {
                                    <tr>
                                        <td></td>
                                        <td>
                                            @visitMedicine.MedicineName
                                        </td>
                                    <td id="InventoryQuantity">@visitMedicine.InventoryQuantity</td>
                                        <td>
                                        <span id="input-quantity-medicine-@visitMedicine.Id"> @visitMedicine.Quantity</span>
                                        <input type="number" id="input-quantity-medicine-@visitMedicine.Id" hidden required placeholder="الكمية" value="@visitMedicine.Quantity">
                                        <input id="edit-input-@visitMedicine.Id" type="number" name="Quantity" form="formAddVisitMedicine" value="@visitMedicine.Quantity" required placeholder="الكمية" style="width: 100%; display:none;">

                                        </td>
                                        <td>
                                            <form id="form-delete-visitmedicine-@visitMedicine.Id" method="post" asp-action="RemoveVisitMedicine" asp-controller="Visits"></form>
                                            <div id="edit-medicine-@visitMedicine.Id">
                                            <button type="button" onclick="activeDisable({disble:'input-quantity-medicine-@visitMedicine.Id',enable:'edit-input-@visitMedicine.Id',enableTwo:'save-medicine-@visitMedicine.Id',disbleTwo:'edit-medicine-@visitMedicine.Id'})" class="table-button-blue">
                                                    تعديل <i class="fa-solid fa-pen-to-square"></i>
                                                </button>
                                                <input hidden form="form-delete-visitmedicine-@visitMedicine.Id" name="Id" value="@visitMedicine.Id" />
                                                <input hidden form="form-delete-visitmedicine-@visitMedicine.Id" name="visitId" value="@Model.Id" />
                                                <button type="submit" form="form-delete-visitmedicine-@visitMedicine.Id" class="table-button-red">
                                                    حذف <i class="fa-solid fa-trash"></i>
                                                </button>
                                            </div>
                                            <div id="save-medicine-@visitMedicine.Id" style="display:none">
                                                <button type="button" class="table-button-blue">
                                                    حفظ
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </button>
                                            <button type="button" class="table-button-red" onclick="activeDisable({enable:'edit-medicine-@visitMedicine.Id',disble:'save-medicine-@visitMedicine.Id',enableTwo:'input-quantity-medicine-@visitMedicine.Id',disbleTwo:'edit-input-@visitMedicine.Id'})">
                                                    الغاء <i class="fa-solid fa-xmark"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                }
                                <tr>
                                    <td></td>
                                    <td>
                                        <form id="formAddVisitMedicine" method="post" asp-action="AddVisitMedicine" asp-controller="Visits"></form>
                                    <select id="select-add-medicine" onchange="setData({Id:'select-add-medicine'})" name="MedicineId" form="formAddVisitMedicine" class="form-select ">
                                            <option selected>العلاج</option>
                                            @foreach(var medicine in (List<MedicineViewModel>)      ViewBag.AvailableMedicines)
                                        {
                                            <option value="@medicine.Id" id="medicine-quantity-@medicine.Quantity" >@medicine.Name</option>
                                        }
                                    </select>

                                    </td>
                                    <td >
                                    <p id="add-visit-medicine-quantity-label" ></p>
                                    </td>
                                    <td>
                                        <input type="number" value="@Model.Id" name="VisitId" form="formAddVisitMedicine" hidden />
                                    <input type="number" name="Quantity" form="formAddVisitMedicine" required placeholder="الكمية" style="width: 100%">
                                    </td>
                                    <td>
                                        <button type="submit" form="formAddVisitMedicine" class="table-button-blue">
                                            إضافة <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="row justify-content-center ">
                    <div class="col-lg-4 text-center mb-4">
                        <a asp-action="FinishVisitDiagnosis" asp-route-id="@Model.Id" asp-controller="Visits" class="my-button custom-button  mb-2">
                            انهاء الكشف <i class="fa-solid fa-floppy-disk"></i>
                        </a>
                    </div>
                </div>

    
           
           
            
        </div>
    </div>


<script>
        function activeDisable({ disble, enable, enableTwo, disbleTwo}) {
       
            document.getElementById(enable).style.display = "";
            document.getElementById(disble).style.display = "none";
            document.getElementById(enableTwo).style.display = "";
            document.getElementById(disbleTwo).style.display = "none";
        }
        function setData({Id}) {
            
            var e = document.getElementById(Id);
            var optionId = e.options[e.selectedIndex].id;
            var formattedId = optionId.replace('medicine-quantity-','');
            var quantity = parseInt(formattedId);
            document.getElementById('add-visit-medicine-quantity-label').innerHTML = quantity;
        }
    </script>
</body>

<script src="~/userDesign/js/all.min.js"></script>
<script src="~/userDesign/js/bootstrap.bundle.min.js"></script>

<!-- <script src="js/bootstrap.bundle.min.js.map"></script> -->

</html>