@using MedicalPoint.ViewModels.Beds;
@model AddPatientToBedViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/UserDesign/css/all.min.css">
    <link rel="stylesheet" href="~/UserDesign/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/UserDesign/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="~/UserDesign/css/style.css">
    <title>حجز مريض</title>
    <link rel="icon" href="~/UserDesign/img/logo.png">
</head>
<body class="background-with-color">
    <nav class="navbar navbar-expand-lg navbar-light d-none d-lg-block ">
        <div class="container ">
            <div>
                <a class="my-button ml-2">تسجيل الخروج <i class="fa-solid fa-right-from-bracket"></i></a>
                <a class="my-button-blue">العودة للرئيسية <i class="fa-solid fa-house"></i></a>
            </div>
            <img src="~/UserDesign/img/logo.png" alt="logo">
        </div>
    </nav>
    <div class="landing-three ">
        <div class="container  fadeInUp-animation">
            <div class="row justify-content-center ">
                <div class="col-lg-12 text-center ">

                    <p id="name">حجز مريض <i class="fa-solid fa-bed"></i></p>
                </div>
                <p id="nametwo">الاقسام المتاحة</p>
                @if(Model.Departments.Count == 0)
                {
                    <div class="text-center row col-lg-2 justify-content-center ">
                        <p class="text-center" style="color:red"> لا يوجد اقسام متاحة</p>
                        <a asp-action="Create" asp-controller="Departments" class="my-button-blue"> إضافة قسم </a>

                    </div>
                }
                @foreach(var department in Model.Departments)
                {

                    <div class="row justify-content-center  p-4" id="group">

                        <div class="col-lg-12">
                            <p>
                                <a class="my-button-blue"  data-bs-toggle="collapse" href="#collapse-@department.Id" role="button" aria-expanded="false" aria-controls="collapse-@department.Id">@department.Name</a>
                            </p>
                        </div>
                        <div class="col-lg-12">
                            <div class="collapse multi-collapse" data-parent="#group" id="collapse-@department.Id">
                                <div class="beds-container" style="border-radius: 15px; background-color: #dfdfdf;">
                                    <div class="beds">
                                        @foreach(var bed in department.Beds)
                                        {
                                            @if(!bed.IsAvailable)
                                            {
                                                <div class="text-center">
                                                    <img class="filled-bed" src="~/UserDesign/img/bed with paitant.png">
                                                    <p id="bedname">السرير رقم(@bed.BedNumber)</p>
                                                    <p id="nametwo" style="color:red">محجوز</p>

                                                </div>
                                            }
                                            else
                                            {
                                                <form style="display:none" id="formAddPatient-@bed.Id" method="post" asp-route-id="@bed.Id" asp-action="AddPatientToBed" asp-controller="Departments"></form>
                                           
                                                <div class="text-center">
                                                    <img class="empty-bed" src="~/UserDesign/img/empty bed.png">
                                                    <p id="bedname">السرير رقم(@bed.BedNumber)</p>
                                                    <input id="input-notes-@bed.Id" form="formAddPatient-@bed.Id" name="Notes" style="display:none" />
                                                    <input id="input-bedId-@bed.Id" form="formAddPatient-@bed.Id" name="PatientId" value="@Model.PatientId" type="number" readonly style="display:none" />


                                                    <input type="submit" class="table-button-blue" id="button-save-@bed.Id" value="تأكيد الحجز" form="formAddPatient-@bed.Id" style="display:none" />
                                               

                                                    <input type="button" value="إلغاء" style="display:none" id="button-cancel-@bed.Id"
                                                           onclick="enableDisable({ids: ['button-add-patient-@bed.Id', 'button-save-@bed.Id','button-cancel-@bed.Id', 'input-notes-@bed.Id'] } )"
                                                           class="table-button-red"/>

                                                    <input type="button" value="حجز هنا" id="button-add-patient-@bed.Id" 
                                                    onclick="enableDisable({ids: ['button-add-patient-@bed.Id', 'button-save-@bed.Id','button-cancel-@bed.Id', 'input-notes-@bed.Id'] } )" 
                                                    class="table-button-red"/>
                                               
                                                </div>

                                                
                                            }
                                            
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
    <script>
        function enableDisable({ ids }) {
           
            if(ids ==null)
            {
          
                return;

            }
            for(i=0 ; i< ids.length; i++ )
            {
                var id = ids[i];
                var element = document.getElementById(id);
                if(element == null)
                {
                   
                    continue;
                }
               

                element.style.display = element.style.display == "none"? "" : "none";
            }
           
        }
    </script>
</body>
<footer>
    <!-- Copyright -->
    <div class="text-center p-1">

        <p id="footer-text">تم الانشاء بواسطة <span style="color: var(--red-color);">فرع النظم</span> الدفعة <span style="color: var(--red-color);">164</span> ضباط إحتياط ©</p>
    </div>

    <!-- Copyright -->
</footer>
<script src="~/UserDesign/js/all.min.js"></script>
<script src="~/UserDesign/js/bootstrap.bundle.min.js"></script>
<!-- <script src="js/bootstrap.bundle.min.js.map"></script> -->

</html>