@using MedicalPoint.Common;
@using MedicalPoint.Constants;
@using MedicalPoint.ViewModels.Departments;
@model BedViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/UserDesign/css/all.min.css">
    <link rel="stylesheet" href="~/UserDesign/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/UserDesign/css/style.css">
    <title>بيانات مريض الملاحظة</title>
    <link rel="icon" href="~/UserDesign/img/logo.png">
</head>
<body class="background-with-color">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <div>
                <a asp-action="Logout" asp-controller="Account" class="my-button ml-2">تسجيل الخروج <i class="fa-solid fa-right-from-bracket"></i></a>
                <a onClick="window.location.reload()" href=""
                   class="my-button-green">
                    تحديث الصفحة  <i class="fa-solid fa-arrows-rotate"></i>
                </a>
                <a asp-action="Details" asp-route-id="@Model.DepartmentId" asp-controller="Departments" class="my-button-blue">العودة للقسم <i class="fa-solid fa-house"></i></a>
                <a asp-action="Index"  asp-controller="Departments" class="my-button-blue">العودة للرئيسية <i class="fa-solid fa-house"></i></a>
            </div>
            <img src="~/UserDesign/img/logo.png" alt="logo">
        </div>
    </nav>
    <div class="landing-three ">
        <div class="container fadeInUp-animation ">
            <div class="row  justify-content-center">
                <div class="col-lg-6 text-center pt-5 ">
                    <p id="nametwo">بيانات سرير الملاحظة <i class="fa-solid fa-user"></i></p>

                    <table class="table  table-striped">
                        <tbody>
                            <tr>
                                <th>اسم القسم</th>
                                <td>@Model.DepartmentName</td>

                            </tr>
                            <tr>

                                <th>رقم السرير</th>
                                <td>@Model.Id</td>
                            </tr>
                            @if(!Model.IsAvailable)
                            {
                                <tr>
                                    <th>الدرجة\الرتبة</th>
                                    <td>@Model.PatientDegree</td>
                                </tr>
                                <tr>
                                    <th>الإسم</th>
                                    <td>@Model.PatientName</td>
                                </tr>
                                <tr>
                                    <th>درجة\رتبة الطبيب </th>
                                    <td>@Model.DoctorDegree </td>
                                </tr>
                                <tr>
                                    <th>اسم الطبيب</th>
                                    <td>@Model.DoctorName </td>
                                </tr>
                                <tr>
                                    <th>الملاحظات</th>
                                    <td>
                                        <form style="display:none" method="post" asp-action="EditBed" asp-controller="Departments" asp-route-id="@Model.Id" id="formEditBed"></form>
                                        <input type="text" id="input-bed-notes" style="display:none" form="formEditBed" name="Notes" placeholder="أدخل االملاحظة" class="w-100">
                                        <span id="span-bed-notes">   @Model.Notes </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>وقت الحجز</th>
                                    <td>@Model.EnterDate</td>
                                </tr>
                                @if(Model.VisitId.HasValue)
                                {
                                    <tr>
                                        <th>تفاصيل الكشف</th>
                                        <td><a asp-action="Details" asp-controller="Visits" asp-route-id="@Model.VisitId" id="link-green">تفاصيل الكشف  <i class="fa-regular fa-file"></i></a></td>
                                    </tr>
                                    
                                }
                                
                            }
                        </tbody>
                    </table>
                    @if(Model.IsAvailable)
                    {
                        @if(Model.IsActive)
                        {
                            <p id="bedname">لايوجد مريض <span style="color: #d42324;">(السرير فارغ)</span></p>
                            <a asp-action="AddBedToPatient" asp-route-id="@Model.Id" asp-controller="Departments" class="my-button-green mt-2">
                                إضافة مريض <i class="fa-solid fa-plus"></i>
                            </a>

                        }
                        else
                        {
                            //TODO: enhance UI in disable
                            <p id="bedname"><span style="color: #d42324;">السرير غير مفعل</span></p>
                            
                            <a asp-action="ToggleBedStatus" asp-route-id="@Model.Id" asp-controller="Departments" class="my-button-green mt-2">
                               تفعيل السرير <i class="fa-solid fa-plus"></i>
                            </a>
                        }
                    }
                    else
                    {
                        <div>
                            @if (this.Context.IsUserHasRoles(new string[] { ConstantUserType.SUPER_ADMIN, ConstantUserType.Doctor }))
                            {
                                <button id="button-show-edit-bed" onclick="enableDisable({ids:['button-show-edit-bed', 'input-bed-notes', 'button-save-edit-bed', 'span-bed-notes' ,'button-cancel-edit-bed']})" class="my-button mt-2 mb-2 print" asp-action="EditBed" asp-controller="Departments" asp-route-id="@Model.Id">
                                    تعديل <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <input type="submit" style="display:none" id="button-save-edit-bed" value="حفظ" form="formEditBed" class="my-button-green mt-2 mb-2 print" />
                                <input style="display:none" type="button" onClick="enableDisable({ids:['button-show-edit-bed', 'input-bed-notes', 'button-save-edit-bed', 'span-bed-notes' ,'button-cancel-edit-bed']})" id="button-cancel-edit-bed" value="إلغاء" form="formEditBed" class="my-button mt-2 mb-2 print" />
                            }
                            <a class="my-button-blue mt-2 mb-2 print" asp-action="RemovePatient" asp-controller="Departments" asp-route-id="@Model.Id">
                                خروج للمريض <i class="fa-solid fa-right-from-bracket"></i>
                            </a>
                        </div>
                        
                    }
                </div>
                @if (this.Context.IsUserHasRoles(new string[] { ConstantUserType.SUPER_ADMIN, ConstantUserType.Doctor, ConstantUserType.Recieptionist }))
                {

                    <div class="row justify-content-center mt-4">
                        <div class="col-lg-8 text-center">

                            <p id="nametwo">
                                سجل سرير الملاحظة
                            </p>

                            <table class="table  table-striped">
                                <thead>
                                    <tr>
                                        <th>مسلسل</th>
                                        <th>متخذ الاجراء</th>
                                        <th>التوقيت</th>
                                        <th>نوع الاجراء</th>
                                        <th>اسم المريض</th>
                                        <th>الملاحظة</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var history in Model.History)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>@history.DoctorName</td>
                                            <td>@history.ActionDate</td>
                                            <td>@history.ActionType</td>
                                            <td>@history.PatientName</td>
                                            <td>@history.Notes</td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                            <a asp-action="BedDetails" asp-route-id="@Model.Id" asp-controller="Departments" class="my-button-blue">  سجلات السرير   <i class="fa-solid fa-receipt"></i></a>

                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

    <button type="button" id="popoutButton" class="my-button" data-bs-toggle="modal"
            data-bs-target="#exampleModal" style="display: none;"></button>
    <div class="modal fade text-center" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">


                    <div class="row justify-content-center">
                        <div class="col-lg-12">

                            <div class="col-lg-12">
                                <i style="color: var(--red-color); font-size: 80px; margin-bottom:15px;"
                                   class="fa-solid fa-circle-exclamation fa-beat-fade"></i>
                            </div>
                            <div class="col-lg-12">
                                <h4 id="errorText">هناك خطأ ما</h4>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!--popout div-->
        <div class="text-center">
            <button type="button" id="popoutButton" class="my-button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" style="display: none;"></button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">


                            <div class="row justify-content-center">
                                <div class="col-lg-12">

                                    <div class="col-lg-12">
                                        <i style="color: var(--red-color); font-size: 80px; margin-bottom:15px;"
                                           class="fa-solid fa-circle-exclamation fa-beat-fade"></i>
                                    </div>
                                    <div class="col-lg-12">
                                        <h4 id="errorText">هناك خطأ ما</h4>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>

</body>
<footer>
    <!-- Copyright -->
    <div class="text-center p-1">

        <p id="footer-text">تم الانشاء بواسطة <span style="color: var(--red-color);">فرع النظم</span> الدفعة <span style="color: var(--red-color);">164</span> ضباط إحتياط ©</p>
    </div>

    <!-- Copyright -->
</footer>
<script src="~/userdesign/js/enabledisableelements.js"></script>
<script src="~/UserDesign/js/all.min.js"></script>
<script src="~/UserDesign/js/bootstrap.bundle.min.js"></script>
<script src="~/userdesign/js/popouterror.js"></script>
@if (ViewBag.ErrorMessage is string s)
{
    if (!string.IsNullOrEmpty(s))
    {
        <script>popout({ error: '@s' })</script>
    }
}
<!-- <script src="js/bootstrap.bundle.min.js.map"></script> -->

</html>