@using MedicalPoint.Services;
@model PatientReport
@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/userDesign/css/all.min.css">
    <link rel="stylesheet" href="~/userDesign/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/userDesign/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="~/userDesign/css/style.css">
    <title>تقرير المريض @Model.Name</title>
    <link rel="icon" href="~/userDesign/img/logo.png">
</head>

<body class="background-with-color">

    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <div class="text-one">

                <h1 class="main-p">النقطة الطبية</h1>
                <h1 class="second-p">كلية الضباط الإحتياط</h1>

            </div>
            <div class="text-one">
            <a asp-action="Details" asp-route-id="@Model.Id" asp-controller="Patients" class="my-button-blue print"> <i class="fa-solid fa-forward"></i> العودة </a>
            <a class="my-button-blue print" href="" onclick="window.print()">طباعة التقرير  <i class="fa-solid fa-print"></i></a>

            </div>
            <img src="~/userDesign/img/logo.png" alt="logo">


        </div>
    </nav>
    <div class="">

        <div class="container  fadeInUp-animation">
            <div class="row ">
                <div class="row">
                    <p id="nametwo" class="text-center">تقرير المريض @Model.Name <i class="fa-solid fa-chart-simple"></i></p>
                    <div class="beds-containerTwo mb-3">
                        <div class="bedsTwo">

                            <div class="my-table-input" style="background-color: #d9d5d5;">
                                <div class="text-center">
                                    <label for="checkbox-id" style="margin-left: 5px;">تاريخ إنشاء التقرير</label>
                                    <label for="checkbox-id" style="margin-left: 5px;">@Model.CreatedAt</label>

                                </div>

                            </div>
                            <div class="my-table-input" style="background-color: #d9d5d5;">

                                <div class="text-center">
                                    <label for="checkbox-id" style="margin-left: 5px;">الرقم العسكري: </label>
                                    <label for="checkbox-id" style="margin-left: 5px;">@Model.MilitaryNumber</label>
                                </div>

                            </div>
                            <div class="my-table-input" style="background-color: #d9d5d5;">


                                <div class="text-center">
                                    <label for="checkbox-id" style="margin-left: 5px;"> الرقم العام:</label>
                                    <label for="checkbox-id" style="margin-left: 5px;">@Model.GeneralNumber</label>
                                </div>

                            </div>
                            <div class="my-table-input" style="background-color: #d9d5d5;">


                                <div class="text-center">
                                    <label for="checkbox-id" style="margin-left: 5px;">رقم السرية :</label>
                                    <label for="checkbox-id" style="margin-left: 5px;">@Model.SarayNumber</label>
                                </div>

                            </div>

                            <div class="my-table-input" style="background-color: #d9d5d5;">


                                <div class="text-center">
                                    <label for="checkbox-id" style="margin-left: 5px;">عدد الكشوفات:</label>
                                    <label for="checkbox-id" style="margin-left: 5px;">@Model.VisitsCount</label>
                                </div>

                            </div>
                            
                            <div class="my-table-input" style="background-color: #d9d5d5;">


                                <div class="text-center">
                                    <label for="checkbox-id" style="margin-left: 5px;">عدد الارانيك:</label>
                                    <label for="checkbox-id" style="margin-left: 5px;">@Model.VisitRestCount</label>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="row " style="justify-content: space-between;">
                        <div class="col-lg-12 ">
                            <p id="nametwo">تقرير الكشوفات <i class="fa-solid fa-hospital-user"></i></p>

                            <table class="table  table-striped text-center" id="my-table">
                                <thead>
                                <th>مسلسل</th>
                                <th>اسم الطبيب</th>
                                <th>التشخيص</th>
                                <th>حالة الكشف</th>
                                <th>نوع الكشف</th>
                                <th>العيادة </th>
                                <th>تاريخ الكشف</th>
                                <th>تاريخ انتهاء الكشف</th>
                                <th>رقم الكشف</th>

                                </thead>
                                <tbody>
                                    @if (Model.VisitHistory.Count == 0)
                                    {
                                        <th colspan="9" style="color:var(--red-color)"> لا يوجد بيانات</th>
                                    }
                                    @foreach(var visit in Model.VisitHistory)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>@visit.DoctorName</td>
                                            <td>@visit.Diagnosis</td>
                                            <td>@visit.Status</td>
                                            <td>@visit.Type</td>
                                            <td>@visit.Clinic</td>
                                            <td>@visit.VisitTime</td>
                                            <td>@visit.ExitTime</td>
                                            <td>@visit.VisitNumber</td>

                                        </tr>
                                    }
                                   
                                </tbody>
                            </table>


                        </div>
                        <div class="col-lg-12 ">
                            <p id="nametwo">تقرير الارانيك <i class="fa-solid fa-hospital-user"></i></p>

                            <table class="table  table-striped text-center" id="my-table">
                                <thead>
                                <th>مسلسل</th>
                                <th>اسم الطبيب</th>
                                <th>نوع الاورنيك</th>
                                <th>بداية الراحة</th>
                                <th>انتهاء الراحة </th>
                                <th>الملاحظات </th>
                                <th>تاريخ انشاء الاورنيك</th>
                                </thead>

                                <tbody>
                                    @if (Model.VisitRests.Count == 0)
                                    {
                                    <th colspan="7" style="color:var(--red-color)"> لا يوجد بيانات</th>
                                    }
                                    @foreach(var visit in Model.VisitRests)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>@visit.DoctorName</td>
                                            <td>@visit.RestType</td>
                                            <td>@visit.StartDate.ToShortDateString()</td>
                                            <td>@visit.EndDate.ToShortDateString()</td>
                                            <td>@visit.Notes</td>
                                            <td>@visit.CreatedAt</td>
                                        </tr>
                                        
                                    }
                                   
                                </tbody>
                            </table>


                        </div>
                        <div class="col-lg-12">
                            <p id="nametwo">تقرير الملاحظة <i class="fa-solid fa-bed"></i></p>
                            @if (Model.UnderObservarionsHistory.Count == 0)
                            {
                                <h3  class="text-center" style="color:var(--red-color)"> لا يوجد بيانات</h3>
                            }
                            else
                            {
                            <div class="beds-containerThree">
                                <div class="bedsThree">

                                    @foreach(var bed in Model.UnderObservarionsHistory)
                                    {
                                        
                                    <div>
                                        <p class="text-center " style="font-weight: bold;">
                                          السرير رقم @bed.BedNumber
                                          قسم @bed.DepratmentName
                                        </p>
                                        <table class="table  table-striped text-center" id="my-table">
                                            <thead>
                                            <th>مسلسل</th>
                                            <th>متخذ الإجراء</th>
                                            <th>نوع الإجراء</th>
                                            <th>تاريخ الإجراء</th>
                                            <th>الملاحظات</th>



                                            </thead>
                                            <tbody>
                                                @foreach(var history in bed.BedHistory)
                                                {
                                                    <tr>
                                                        <td></td>
                                                        <td>@history.DoctorName</td>
                                                        <td>@history.ActionType</td>
                                                        <td>@history.CreatedAt</td>
                                                        <td>@history.Notes</td>
                                                    </tr>
                                                }
                                              
                                            </tbody>
                                        </table>
                                    </div>
                                    }
                                   
                                </div>
                            </div>
                                
                            }
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </div>
    <footer>
        <div class="container">
        </div>
        <div class="text-center p-1">
            <p id="footer-text">
                تم الانشاء بواسطة <span style="color: var(--red-color);">طلاب فرع النظم</span> الدفعة
                <span style="color: var(--red-color);">164</span> ضباط إحتياط ©
            </p>
        </div>
    </footer>
</body>

<script src="~/userDesign/js/all.min.js"></script>
<script src="~/userDesign/js/bootstrap.bundle.min.js"></script>

</html>