@using MedicalPoint.Services;
@model VisitsReport
@{
    Layout = null;
    ViewBag.IsEmptyPage = Model == null;
}
<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/userDesign/css/all.min.css">
    <link rel="stylesheet" href="~/userDesign/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/userDesign/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="~/userDesign/css/style.css">
    <title>التقرير اليومي</title>
    <link rel="icon" href="~/userDesign/img/logo.png">
</head>

<body class="background-with-color">

    <nav class="navbar navbar-expand-lg navbar-light  ">
        <div class="container">
            <div class="text-one">

                <h1 class="main-p">النقطة الطبية</h1>
                <h1 class="second-p">كلية الضباط الإحتياط</h1>
                <a asp-action="Index"  asp-controller="Visits" class="my-button-green print"> <i class="fa-solid fa-forward"></i> العودة </a>
                <a class="my-button-blue print" href="" onclick="window.print()">طباعة التقرير  <i class="fa-solid fa-print"></i></a>


            </div>
            <div class="text-one">
            </div>

            <img src="~/userDesign/img/logo.png" alt="logo">


        </div>
    </nav>
    <div class="landing-three ">

        <div class="container  fadeInUp-animation">
            <div class="row justify-content-center mt-2 mb-2 print">

                <div class="col-lg-12 text-center ">

                        <div class="row justify-content-center  ">
                    <form id="formFilterVisitsReport" class="print" asp-action="VisitsToday" asp-controller="Reports" method="get" style="display:none"></form>

                    <div class="col-lg-1 text-center">
                            <label id="" for="input-date-from">تاريخ البداية</label>
                    </div>
                    <div class="col-lg-2 text-center">
                        <input style="width:90%" class="my-table-input" id="input-date-from" valueAsDate="@ViewBag.FromDate" placeholder="اختر بداية التاريخ" name="fromDate" type="date" form="formFilterVisitsReport">
                    </div>
                        <div class="col-lg-1 text-center">
                            <label  for="input-date-to">تاريخ النهاية</label>
                        </div>
                    <div class="col-lg-2 text-center">
                        <input style="width:90%" class="my-table-input" id="input-date-to" valueAsDate="@ViewBag.ToDate" placeholder="اختر نهاية التاريخ" name="toDate" type="date" form="formFilterVisitsReport">
                    </div>
                    <div class="col-lg-2 text-center ">
                        <select class="my-table-select " id="select-patients-type" asp-items="@ViewBag.PatientTypes" value="@ViewBag.SelectedPatientType" name="patientType" form="formFilterVisitsReport">
                        </select>
                    </div>
                    <div class="col-lg-2 text-center">
                        <button class="table-button-blue" value="مسح البحث" onClick="ResetFilters(['input-date-from','input-date-to','select-patients-type'])">مسح البحث</button>
                        <input class="table-button-red" type="submit" form="formFilterVisitsReport" value="تنفيذ" />
                    </div>

                       

                    </div>

                </div>
            </div>


                    <div class="row">
                    @if(!ViewBag.IsEmptyPage)
                    {
                        <div class="col-lg-12 text-center ">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 ">
                                @if( string.IsNullOrEmpty( ViewBag.SelectedPatientType))
                                {
                                    <p id="nametwo">التقرير لكشوفات الطلبة من يوم @Model.FromDate.Date.ToShortDateString() ليوم @Model.ToDate.Date.ToShortDateString() <i class="fa-solid fa-chart-simple"></i></p>

                                }
                                else
                                {
                                    <p id="nametwo">التقرير للكشوفات من يوم @Model.FromDate.Date.ToShortDateString() ليوم @Model.ToDate.Date.ToShortDateString() <i class="fa-solid fa-chart-simple"></i></p>

                                }

                            </div>
                            <div style="display:none" class="col-lg-2 print">
                                <button class="my-button-green print">تصدير كملف إكسيل <i class="fa-solid fa-file-excel"></i></button>

                            </div>
                        </div>
                        <div class="beds-containerTwo mb-3">
                            <div class="bedsTwo">

                                <div class="my-table-input" style="background-color: #d9d5d5;">
                                    <div class="text-center">
                                        <label for="checkbox-id" style="margin-left: 5px;">توقيت إنشاء التقرير:</label>
                                        <label for="checkbox-id" style="margin-left: 5px;">@Model.ReportDate.ToShortTimeString()</label>

                                    </div>

                                </div>
                                <div class="my-table-input" style="background-color: #d9d5d5;">


                                    <div class="text-center">
                                        <label for="checkbox-id" style="margin-left: 5px;">عدد الكشوفات:</label>
                                        <label for="checkbox-id" style="margin-left: 5px;">@Model.VisitsCount</label>
                                    </div>

                                </div>
                                <div class="my-table-input" style="background-color: #d9d5d5;">


                                    <div class="text-center">
                                        <label for="checkbox-id" style="margin-left: 5px;">عدد الكشوفات الطارئة:</label>
                                        <label for="checkbox-id" style="margin-left: 5px;">@Model.EmergencyVisitTypeCount</label>
                                    </div>

                                </div>
                                <div class="my-table-input" style="background-color: #d9d5d5;">


                                    <div class="text-center">
                                        <label for="checkbox-id" style="margin-left: 5px;">عدد المرضى:</label>
                                        <label for="checkbox-id" style="margin-left: 5px;">@Model.PatientsCount</label>
                                    </div>

                                </div>
                                @foreach(var pair in Model.SaryasCount)
                                {
                                    <div class="my-table-input" style="background-color: #d9d5d5;">


                                        <div class="text-center">
                                            <label for="checkbox-id" style="margin-left: 5px;">عدد الكشوفات في س <span id="bedname">@pair.Key:</span> </label>
                                            <label for="checkbox-id" style="margin-left: 5px;">@pair.Value</label>
                                        </div>

                                    </div>


                                }
                            </div>
                        </div>

                        <!-- Button trigger modal -->
                        <button type="button" id="popoutButton" class="my-button" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" style="display: none;"></button>
                        <!-- Modal -->


                        <table class="table  table-striped" id="my-table">
                            <thead>
                            <th>مسلسل</th>
                            <th>الدرجة / الرتبة</th>
                            <th>اسم المريض</th>
                            <th>الرقم العام </th>
                            <th>رقم السرية </th>
                            <th>اسم الطبيب</th>
                            <th> التشخيص</th>
                            <th> نوع الكشف </th>
                            <th> رقم الكشف </th>
                            <th> تاريخ بداية الكشف </th>
                            <th> تاريخ انتهاء الكشف </th>
                            <th>العيادة</th>

                            </thead>
                                <tbody>
                            @if(Model.Visits.Count == 0)
                            {
                                <th colspan="12" style="color:var(--red-color)"> لا يوجد بيانات</th>
                            }
                            @foreach(var visit in Model.Visits)
                            {
                                    <tr>
                                        <td></td>
                                        <td>@visit.PatientDegree</td>
                                        <td>@visit.PatientName</td>
                                        <td>@visit.PatientGeneralNumber</td>
                                        <td>@visit.PatientSaryaNumber</td>
                                        <td>@visit.DoctorName</td>
                                        <td>@visit.Diagnosis</td>
                                        <td>@visit.Type</td>
                                        <td>@visit.VisitNumber</td>
                                        <td>@visit.VisitTime</td>
                                        <td>@visit.ExitTime</td>
                                        <td>@visit.ClinicName</td>
                                    </tr>
                                    
                            }
                                </tbody>
                                
                        </table>


                    </div>

                }
                else
                {
                    <p style="color:red" class="text-center mt-4"> برجاء اختيار تاريخ بداية ونهاية التقرير</p>
                }
            </div>

        </div>
    </div>
    <!--popout div-->
    <button type="button" id="popoutButton" class="my-button" data-bs-toggle="modal"
            data-bs-target="#exampleModal" style="display: none;"></button>
    <div class="modal fade text-center" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">


                    <div class="row justify-content-center">
                        <div class="col-lg-12">

                            <div class="col-lg-12">
                                <i style="color: var(--red-color); font-size: 80px; margin-bottom:15px;"
                                   class="fa-solid fa-circle-exclamation fa-beat-fade"></i>
                            </div>
                            <div class="col-lg-12">
                                <h4 id="errorText">هناك خطأ ما</h4>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!--popout div-->
        <div class="text-center">
            <button type="button" id="popoutButton" class="my-button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" style="display: none;"></button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">


                            <div class="row justify-content-center">
                                <div class="col-lg-12">

                                    <div class="col-lg-12">
                                        <i style="color: var(--red-color); font-size: 80px; margin-bottom:15px;"
                                           class="fa-solid fa-circle-exclamation fa-beat-fade"></i>
                                    </div>
                                    <div class="col-lg-12">
                                        <h4 id="errorText">هناك خطأ ما</h4>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>



    <footer>
        <div class="container">
        </div>
        <div class="text-center p-1">
            <p id="footer-text">
                تم الانشاء بواسطة <span style="color: var(--red-color);">طلاب فرع النظم</span> الدفعة
                <span style="color: var(--red-color);">164</span> ضباط إحتياط ©
            </p>
        </div>
    </footer>
</body>

<script src="~/userDesign/js/all.min.js"></script>
<script src="~/userDesign/js/bootstrap.bundle.min.js"></script>
<script src="~/userdesign/js/resetfilters.js"></script>
<script src="~/userdesign/js/popouterror.js"></script>
@if (ViewBag.ErrorMessage is string s)
{
    if (!string.IsNullOrEmpty(s))
    {
        <script>popout({ error: '@s' })</script>
    }
}
</html>