@using MedicalPoint.Common;
@using MedicalPoint.Constants;
@model MedicalPoint.ViewModels.Patients.PatientViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/UserDesign/css/all.min.css">
    <link rel="stylesheet" href="~/UserDesign/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/UserDesign/css/style.css">
    <title>بيانات المريض </title>
    <link rel="icon" href="~/UserDesign/img/logo.png">
</head>
<body class="background-with-color">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
            <div>
                <a asp-action="Logout" asp-controller="Account" class="my-button ml-2">تسجيل الخروج <i class="fa-solid fa-right-from-bracket"></i></a>
                <a asp-action="Index" asp-controller="Patients" class="my-button-blue">العودة للرئيسية <i class="fa-solid fa-house"></i></a>
            </div>
            <img src="~/UserDesign/img/logo.png" alt="logo">
        </div>
    </nav>
    <div class="landing-three ">
        <div class="container fadeInUp-animation ">
            <div class="row  justify-content-center">
                <div class="col-lg-6 text-center pt-5 ">
                    <p id="nametwo">بيانات المريض <i class="fa-solid fa-user"></i></p>

                    <table class="table  table-striped">
                        <tbody>
                            <tr>
                                <th>الدرجة / الرتبة</th>
                                <td>@Html.DisplayFor(model=> model.Degree)</td>
                            </tr>
                            <tr>
                                <th>الإسم</th>
                                <td>@Html.DisplayFor(model=> model.Name)</td>
                            </tr>
                            <tr>
                                <th>الرقم العسكري</th>
                                <td> @Html.DisplayFor(model=> model.MilitaryNumber)</td>
                            </tr>
                            <tr>
                                <th>الرقم القومي</th>
                                <td> @Html.DisplayFor(model=> model.NationalNumber)</td>
                            </tr>
                            <tr>
                                <th>الرقم العام</th>
                                <td>@Html.DisplayFor(model=> model.GeneralNumber) </td>
                            </tr>
                            <tr>
                                <th>رقم السرية</th>
                                <td>@Html.DisplayFor(model=> model.SaryaNumber)</td>
                            </tr>
                            <tr>
                                <th>المؤهل</th>
                                <td> @Html.DisplayFor(model=> model.Major)</td>
                            </tr>


                        </tbody>
                    </table>



                    <div>
                        @if(Model.IsUnderObservation)
                        {
                            <p style="color:red" class="mb-4 mt-4"> المريض تحت الملاحظة <a asp-controller="Departments" asp-action="Bed" asp-route-id="@Model.BedId.Value" class="my-button mt-2 mb-2"> تفاصيل الحجز <i class="fa-solid fa-pen-to-square"></i></a> </p>
                        }
                        else
                        {
                            @if(this.Context.IsUserHasRoles(new string[] { ConstantUserType.Doctor, ConstantUserType.SUPER_ADMIN}))
                            {
                                <a asp-controller="Departments" asp-action="AddPatientToBed" asp-route-patientId="@Model.Id" class="my-button mt-2 mb-2"> حجز المريض <i class="fa-solid fa-pen-to-square"></i></a>
                            }
                            
                        }
                        <a asp-controller="Patients" asp-action="Edit" asp-route-id="@Model.Id" class="my-button mt-2 mb-2">تعديل <i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="my-button-blue mt-2 mb-2" asp-controller="Visits" asp-action="Patient" asp-route-patientId="@Model.Id ">
                            كشوفات المريض <i class="fa-solid fa-list-check"></i>
                        </a>
                        <a class="my-button-blue mt-2 mb-2" asp-controller="Visits" asp-action="Create" asp-route-patientId="@Model.Id ">
                            كشف جديد  <i class="fa-solid fa-plus"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<script src="~/UserDesign/js/all.min.js"></script>
<script src="~/UserDesign/js/bootstrap.bundle.min.js"></script>
<!-- <script src="js/bootstrap.bundle.min.js.map"></script> -->

</html>