@using MedicalPoint.ViewModels.Patients;
@model List<PatientViewModel>
@{
    Layout = null;

}

<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/userdesign/css/all.min.css">
    <link rel="stylesheet" href="~/userdesign/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/userdesign/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="~/userdesign/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/userdesign/css/style.css">
    <script defer src="~/userdesign/js/jquery-3.7.0.js"></script>
    <script defer src="~/userdesign/js/jquery.dataTables.min.js"></script>
    <script defer src="~/userdesign/js/dataTables.bootstrap5.min.js"></script>
    <script defer src="~/userdesign/js/table.js"></script>
    <title> بيانات المرضى</title>
    <link rel="icon" href="~/userdesign/img/logo.png">
   
</head>

<body class="background-with-color">
 
    <nav class="navbar navbar-expand-lg navbar-light  d-none d-lg-block sticky-top" id="bg">
        <div class="container">
            <div> <a asp-action="Logout" asp-controller="Account" class="my-button">تسجيل الخروج <i class="fa-solid fa-right-from-bracket"></i></a>
                <a asp-action="Create" asp-controller="Patients" class="my-button-green">إضافة مريض جديد <i class="fa-solid fa-user"></i></a>
@*                 <a  asp-action="GetDataPatientToPrint" asp-controller="Patients" class="my-button-blue"  id="printConfirm">طباعة البيانات <i class="fa-solid fa-print"></i></a> 
 *@                <button  class="my-button-blue" onclick="window.print()">طباعة البيانات <i class="fa-solid fa-print"></i></button>
                <a asp-action="Index" asp-controller="Visits" class="my-button-green">الكشوفات <i class="fa-solid fa-user"></i></a>
                 <a asp-action="Index" asp-controller="Departments" class="my-button-blue">اقسام الملاحظة<i class="fa-solid fa-house"></i></a>
            </div>
            <img src="~/userdesign/img/logo.png" alt="logo">
        </div>
    </nav>
    <div class="landing-three ">

        <div class="container fadeInUp-animation ">
            <div class="row  justify-content-center">
                <div class="col-lg-12 text-center">
                    <p id="nametwo">بيانات المرضى <i class="fa-solid fa-user-group"></i></p id="name">
                        <form asp-action="Index" method="get" id="formFilterPatients" style="display:none">
                        </form>
                        <div class="row justify-content-center mb-4"> 
                            <div class="col-lg-12 text-center">
                                <div>
                                    @*addd clear button*@
                                    <label>فرز :</label>
                                    <select id="select-degrees" style="width:40%;border-left:5px solid transparent !important; padding-right: 2vh; padding-left: 2vh; padding-top: 0.5vh; padding-bottom: 0.5vh; border-radius:15px; text-indent:2px; margin-left:5px;"  asp-items="@ViewBag.Degrees"  form="formFilterPatients" name="degreeId">
                                    @if(ViewBag.SelectedDegree == null)
                                    {   
                                        <option value="null" selected >اختر الرتبة \ الدرجة</option>
                                    }
                                    else
                                    {
                                        <option value="null">اختر الرتبة \ الدرجة</option>
                                        
                                    }

                                    </select>
                                    @*<label id="label-checkbox" for="check-input">لديهم كشوفات</label>
                                    <input  type="checkbox"   checked="@ViewBag.CheckHasVisit" form="formFilterPatients" name="checkHasVisit" id="check-input"/>*@

                                    <input id="search-input" type="text" name="searchValue" value="@ViewBag.SearchValue" style="width:40%; padding-right: 2vh; padding-left: 2vh; padding-top: 0.5vh; padding-bottom: 0.5vh; border-radius:15px; text-indent:2px; margin-left:5px;" form="formFilterPatients"  placeholder="كلمة البحث" />
                        <input type="button" class="table-button-red"  value="مسح البحث" onClick="ResetFilters(['select-degrees','search-input', 'check-input'])"/>
                        <input type="submit" class="table-button-blue"  value="تنفيذ" form="formFilterPatients"/>
                                </div>
                            </div>
                        </div>
                    <table  class="table table-striped" style="width:100%">
                        <thead>
                             <tr>
                                <th>مسلسل</th>
                                <th>الدرجة / الرتبة</th>
                                <th>الإسم</th>
                                <th>الرقم العسكري</th>
                                <th>الرقم القومي</th>
                                <th>رقم السرية </th>
                                <th>الرقم العام</th>
                                <th>المؤهل</th>
                                <th>اسم المسجل</th>
                                <th class="print">تفاصيل المريض</th>
                                <th class="print">كشف جديد</th>
                                <th class="print">تعديل</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(Model.Count == 0)
                            {
                                <tr>
                                    <th colspan="12"> <span style="color:red">لا يوجد بيانات</span></th>
                                </tr>
                            }
                            @foreach(var patient in Model)
                            {
                                <tr>
                                    <td></td>
                                    <td> @patient.Degree</td>
                                    <td>@patient.Name</td>
                                    <td>@patient.MilitaryNumber</td>
                                    <td> @patient.NationalNumber</td>
                                    <td>@patient.SaryaNumber</td>
                                    <td>@patient.GeneralNumber</td>
                                    <td>@patient.Major</td>
                                    <td>@patient.RegisteredUserName</td>
                                    <td class="print"><a  asp-action="Details" asp-controller="Patients" asp-route-id ="@patient.Id" id="link-green">تفاصيل المريض  <i class="fa-regular fa-file"></i></a></td>
                                    <td class="print"><a asp-action="Create" asp-controller="Visits" asp-route-patientId="@patient.Id" id="link">كشف جديد  <i class="fa-solid fa-plus"></i></a></td>
                                    <td class="print"><a  asp-action="Edit" asp-controller="Patients" asp-route-id ="@patient.Id" id="link-green"> تعديل <i class="fa-regular fa-pen-to-square"></i></a></td>
                                </tr>
                                
                            }
                         
                        </tbody>
          
                      
                    </table>


                </div>
            </div>
        </div>     
    </div>

    <script>
        function ResetFilters(ids)
        {
            if(ids ==null)
                return;
            for(i=0; i<ids.length; i++)
            {
                var id = ids[i];
                var element = document.getElementById(id);
                if(element != null)
                {
                    element.value = null;
                    element.selected = null;
                    element.checked= null;
                }
            }
        }
    </script>
</body>
  <footer >
        <!-- Copyright -->
        <div class="text-center p-1" >
            
          <p id="footer-text">تم الانشاء بواسطة <span style="color: var(--red-color);">فرع النظم</span> الدفعة <span style="color: var(--red-color);">164</span> ضباط إحتياط ©</p>
        </div>
        
        <!-- Copyright -->
      </footer>
<script src="~/userdesign/js/all.min.js"></script>
<script src="~/userdesign/js/bootstrap.bundle.min.js"></script>

</html>