@using System.Security.Claims;
@using MedicalPoint.Common;
@{
    if(ViewBag.PageName == null)
    {
        ViewBag.PageName = "قائد النقطة الطبية";
    }
    ViewBag.Name = Context.GetUserClaimValue( ClaimTypes.Name);
    ViewBag.UserId = Context.GetUserId().Value;
}
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title> @ViewData["Title"] - MedicalPoint لوحه تحكم المنظومه </title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/LeaderDesign/assets/img/شعار الكلية.png" rel="icon">
    <link href="~/LeaderDesign/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/LeaderDesign/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/LeaderDesign/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/LeaderDesign/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/LeaderDesign/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/LeaderDesign/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/LeaderDesign/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/LeaderDesign/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!--  Main CSS File -->
    <link href="~/LeaderDesign/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Medhat Wahid Shaker Mohamed 164.
    ======================================================== -->
</head>

<body>


    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a asp-action="GetPatients" asp-controller="SuperAdmin" class="logo d-flex align-items-center">
                <img src="~/LeaderDesign/assets/img/شعار الكلية.png" alt="">
                <span class="d-none d-lg-block">كلية الضباط الاحتياط</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="البحث" title="ادخل كلمة للبحث">
                <button type="submit" class="btn-danger" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->


                <li>
                    <div id="clock" style="width: 200px; height: 50px; padding-top: 15px; font-weight: bold;">
                        <p class="overflow-clip" id="date-time" id="date-time"> </p>
                    </div>
                </li><!-- End Search Icon-->



                <li>
                    <img src="~/LeaderDesign/assets/img/cardio diebatic health.gif" alt="a.icon" style="width: 50px; height: 50px; ">
                </li><!-- End Search Icon-->




                <li class="nav-item dropdown pe-3">

    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
        <img src="~/LeaderDesign/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
        <span class="d-none d-md-block dropdown-toggle ps-2"><label>
                                @ViewBag.Name
        </label></span>
    </a><!-- End Profile Iamge Icon -->

    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
        <li class="dropdown-header">
            <label><h6>
                @ViewBag.Name
                </h6></label>
            <br>
            <label><span>قائد النقطة الطبية</span></label>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>



        <li>
            <a asp-action="UserEdit"  asp-controller="SuperAdmin" asp-route-id="@ViewBag.UserId"  class="dropdown-item d-flex align-items-center">
                <i class="bi bi-gear"></i>
                <span>اعدادات الحساب</span>
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>


        <hr class="dropdown-divider">
</li>

<li>
    <a class="dropdown-item d-flex align-items-center"asp-action="Logout" asp-controller="Account">
        <i class="bi bi-box-arrow-right"></i>
        <span>تسجيل الخروج</span>
    </a>
</li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->
      </ul>
    </nav><!-- End Icons Navigation -->
  </header><!-- End Header -->
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
                <a class="nav-link " asp-action="GetPatients" asp-controller="SuperAdmin">
                <i class="ri-hospital-fill" style="font-size: 25px;"></i>
                <span>النقطة الطبية</span>
            </a>
        </li><!-- End Dashboard Nav -->



        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>اضافة البيانات</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a  asp-action="Create" asp-controller="Account">
                        <i class="bi bi-journal-text"></i><span>اضافة مستخدم</span>
                    </a>
                </li>
               
                <li>
                    <a asp-action="MedicineCreate" asp-controller="SuperAdmin">
                        <i class="bi bi-journal-text"></i><span>اضافة دواء</span>
                    </a>
                </li>
                <li>
                        <a asp-action="ClinicCreate" asp-controller="SuperAdmin">
                        <i class="bi bi-journal-text"></i><span>اضافة عيادة</span>
                    </a>
                </li>
                <li>
                        <a asp-action="DegreeCreate" asp-controller="SuperAdmin">
                        <i class="bi bi-journal-text"></i><span>اضافة رتبة</span>
                    </a>
                </li>

            </ul>
        </li><!-- End D-ent Nav -->


        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>بيانات المستخدمين</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                        <a  asp-action="GetPatients" asp-controller="SuperAdmin">
                        <i class="bi bi-journal-text"></i><span>بيانات المرضي</span>
                    </a>
                </li>
                    <li>
                        <a asp-action="Index" asp-controller="SuperAdmin">
                            <i class="bi bi-journal-text"></i><span>كشوفات  المرضي</span>
                        </a>
                    </li>
                <li>
                        <a asp-action="GetUsers" asp-controller="SuperAdmin">
                        <i class="bi bi-journal-text"></i><span>بيانات العاملين</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Data Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#reports-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>التقارير</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="reports-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                        <a asp-action="GetUsers" asp-controller="SuperAdmin">
                        <i class="bi bi-journal-text"></i><span>تشخيص الاطباء</span>
                    </a>
                </li>
                    <li>
                        <a asp-action="GetMedicines" asp-controller="SuperAdmin">
                            <i class="bi bi-journal-text"></i><span> الادويه</span>
                        </a>
                    </li>
               
                
                <li>
                        <a asp-action="Index" asp-controller="SuperAdmin">
                        <i class="bi bi-journal-text"></i><span>التقرير اليومي</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Reports Nav -->



        <li class="nav-item">
                <a class="nav-link collapsed" asp-action="GetClinics" asp-controller="SuperAdmin">
                <i class="bi-layout-text-window-reverse"></i>
                <span>العيادات</span>
            </a>
        </li><!-- End Cl -->






        <li class="nav-item">
                <a class="nav-link collapsed" asp-action="UserEdit" asp-controller="SuperAdmin" asp-route-id="@ViewBag.UserId">
                <i class="bi bi-gear"></i>
                <span>اعدادات الحساب</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li>
            <div class="calendar"></div>
        </li><!-- End Calendar -->





    </ul>


</aside><!-- End Sidebar-->
    <main id="main" class="main">

        <div class="pagetitle">

            <a href="قائد النقطة الطبية.html"><h1>النقطة الطبية</h1></a>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">@ViewBag.PageName</a></li>
                    <li class="breadcrumb-item active"></li>
                    <li class="breadcrumb-item active"></li>

                    <li>   <button style="background-color: #900000; height: 23px; width: 40px; margin-right: 3px; padding: 1px;" class="btn btn-danger" onclick="history.back()">عودة</button></li>

                </ol>
            </nav>



        </div><!-- End Page Title -->

        <div>
            @RenderBody()
        </div>
    </main><!-- End #main -->

        </div><!-- End Page Title -->
  
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        جميع الحقوق محفوظة <strong style=" color: #900000; font-size: 15px;"><span>منظومة النقطة الطبية كلية الضباط الاحتياط</span>&copy;</strong>.حقوق الطبع والنشر
    </div>
    <div class="credits">
        <!-- desighned by Medhat Wahid Shaker Mohamed. -->
        <!-- 164 . -->
        <!-- 01016206129 . -->

        <div style=" font-weight: bold;">تم التصميم و التطوير بواسطة   <strong style="color: #900000; font-size: 15px;"> فرع النظم كلية الضباط الاحتياط الدفعة 164</strong></div>
    </div>
</footer><!-- End Footer -->




<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
 <script src="~/LeaderDesign/assets/vendor/apexcharts/apexcharts.min.js"></script>
 <script src="~/LeaderDesign/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="~/LeaderDesign/assets/vendor/chart.js/chart.umd.js"></script>
 <script src="~/LeaderDesign/assets/vendor/echarts/echarts.min.js"></script>
 <script src="~/LeaderDesign/assets/vendor/quill/quill.min.js"></script>
 <script src="~/LeaderDesign/assets/vendor/simple-datatables/simple-datatables.js"></script>
 <script src="~/LeaderDesign/assets/vendor/tinymce/tinymce.min.js"></script>
 <script src="~/LeaderDesign/assets/vendor/php-email-form/validate.js"></script>

<!--  Main JS File -->
    <script src="~/LeaderDesign/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>