@model IEnumerable<MedicalPoint.ViewModels.Medicines.GetAllMediciensViewModel>

@{
    ViewData["Title"] = "GetMedicines";
    Layout = "~/Views/Shared/_LayoutDesignLeader.cshtml";
}

<div class="card-body pb-0">
    <h5 class="card-title fw-bold" style="font-weight: bold; font-size: 35px;">جرد الادوية</h5>

    <table class="table datatable  table-striped" style="border: 0.5px; background-color: gray; border-width: 0.5px;">
    <thead>
        <tr>
            <th>م</th>
            <th>
                اسم الدواء
            </th>
            <th>
               كميه المخزون 
            </th>
            <th>
               تاريخ اضافه للدواء 
            </th>
            <th>
                     اخر تعديل للدواء     
                  </th>
            <th>
                الحد الادني للاكتفاء

            </th>
            <th> تفاصيل</th>
        </tr>
    </thead>
    <tbody>
     @foreach (var item in Model) {
        <tr>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumQuantityThreshold)
            </td>
            <td>
                    <a style="width: 60px; height: 30px;" class="btn btn-info btn-sm" asp-action="MedicinesDetails"asp-controller="SuperAdmin" asp-route-id="@item.Id" role="button">التفاصيل</a>
            </td> 
        </tr>
}
    </tbody>
</table>
</div>